<!-- Logout.cshtml -->
@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>

<form method="post" asp-action="LogoutConfirmed" asp-controller="Account">
    @Html.AntiForgeryToken()

    <p>Are you sure you want to log out?</p>
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
