@model List<Movie>

<h2>Select a movie you would like to watch</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectMovie" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="selectedMovieId">Movie Catalog:</label>
                <select name="selectedMovieId">
                    @foreach (var movie in Model)
                    {
                        <option value="@movie.Id">@movie.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
